services:
  db:
    image: mysql:8.0
    container_name: soen342_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: train_system
      MYSQL_USER: user
      MYSQL_PASSWORD: pass
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  app:
    build: .
    container_name: soen342_app
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_NAME: train_system
      DB_USER: user
      DB_PASS: pass
    ports:
      - "8080:8080"
    stdin_open: true
    tty: true

volumes:
  db_data:

